page-login {

  p {
    color: blue;
  }

  ion-header{
    height: 25px;
    background-color: #167EB1;
  }

  #logo-app{
    width: 356px;
    height: 206px;
    margin: 50px auto 0;
  }

  #lembrar{
    margin: 20px 0;
  }

  #entrar, #cadastro{
    margin: 0 auto;
  }

  ion-card ion-row{
      padding: 5px;
    }
  #scroll-bar-indicator
    {
  	   display: none;
    }


}
