page-login {

  p {
    color: blue;
  }

  #topo{
      width:100%;
      height: 50px;
      text-align: center;
    }

  ion-card ion-row{
      padding: 5px;
    }
  #scroll-bar-indicator
    {
  	   display: none;
    }


}
