page-servicos {
	p {
	    text-align: center;
	    color: #777;
	    font-size: 17px;
	}
	#categoria, #localizacao {
		margin: 40px auto 0;
	}

	.wide-select {
		max-width: 100%;
	}

	#enviar{
		margin-top: 30px;
		float: right;
		clear: both;
	}




}
